# yaml

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "true"
      MYSQL_DATABASE: youaremyexception
      MYSQL_ROOT_PASSWORD: "test"
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - appnet

  app:
    image: php:8.4-fpm
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_DATABASE: youaremyexception
      DB_USERNAME: root
      DB_PASSWORD: ""
    volumes:
      - .:/var/www/html
    networks:
      - appnet

volumes:
  dbdata:

networks:
  appnet:
    driver: bridge
